<!DOCTYPE html>
<html>
  <head>
    <title>Add Role</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    
  </head>

  <body>
    <div>
    <h3>Add Func</h3> 
    Function: 
    <input type="text" id="functionName" placeholder="name" /><br/><br/>
    Function: 
    <select id="fN">
       <% Funcs.forEach(function(i){ %>
          <option>
             <%= i%>
          </option>

       <% }); %>
      
    </select>
    <br/><br/>
    <button id="addButton">Add Func</button>
</div>

<script>
    $("#addButton").click(function(){
        var functionname = $("#functionName").val();
       
        if (functionname) {
            $.post(
                '/createFunc',
                {functionname: functionname }
            );
            
            
        } else {
            alert("A username and password is required");
        }
    });
</script>
  </body>
</html>