<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    
  </head>

  <body>
    <div>
    <h3>Add User</h3> 
    User Name:
    <input type="text" id="userName" placeholder="name" /><br/><br/>
    Role : 
    <select id="rN">
       <% roles.forEach(function(i){ %>
          <option>
             <%= i%>
          </option>

       <% }); %>
      
    </select>
    <br/><br/>
    <button id="addButton">Add User</button>
</div>

<script>
    $("#addButton").click(function(){
        var username = $("#userName").val();
       
        if (username) {
            $.post(
                '/createUser',
                {username: username, password:username, rolename : $("#rN").val() }
            );
            
        } else {
            alert("A username and password is required");
        }
    });
</script>
  </body>
</html>