
<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    
  </head>

  <body>
 
     Old name: <input type="text" id="oldname" placeholder="oldname" /><br/><br/>
     New name: <input type="text" id="newname" placeholder="newname" /><br/><br/>
     <button id= "bt"> Change </button>
     alert(<%= message %>);
     <script >
         $("#bt").click(function(){
            var oldname = $("#oldname").val();
            var newname = $("#newname").val();

            $.post(
                '/u_user', {oldname: oldname, newname: newname}
             );
         }

         );

     </script>

  </body>
</html>







